<div class="page-header">
    <h2>User SignUp</h2>
</div>

<form ng-submit="regUser(regData)">
    <label>Username:</label>
    <input type="text" class="form-control" ng-model="regData.username" placeholder="username" name="username">
    <br>

    <label>Password:</label>
    <input type="text" class="form-control" ng-model="regData.password" placeholder="password" name="password">
    <br>

    <label>Email:</label>
    <input type="text" class="form-control" ng-model="regData.email" placeholder="email" name="email">
    <br>

    <label>Location:</label>
    <input type="text" class="form-control" ng-model="regData.location" placeholder="location" name="location">
    <br>

    <label>Phone Number:</label>
    <input type="text" class="form-control" ng-model="regData.phone" placeholder="phone" name="phn">
    <br>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          USER TYPE
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">Company</a>
          <a class="dropdown-item">Job Seekern</a>
        </div>
      </div>

      <br>

    <button type="submit" class="btn btn-primary">Register</button>


</form>